.aboutMe-container {
  position: relative;
  background-color: white;
  height: 450px;
}

.v-center {
  position: absolute;
  top: 20%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}

.h-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

.avatar {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.myself-text {
  font-size: 120%;
  font-family: "Homemade Apple", cursive;
  margin: 30px 0;
  text-align: center;
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  .aboutMe-container {
    height: 500px;
  }
}

/* Small phones to small tables: from 481px to 767px */
@media only screen and (max-width: 767px) {
  .aboutMe-container {
    height: 600px;
  }
}

/* Small phones: from 0 to 480px  */
@media only screen and (max-width: 480px) {
  .aboutMe-container {
    height: 700px;
  }

  .myself-text {
    font-size: 100%;
  }
}
