.post-thumbnail {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.content:hover .overlay {
  opacity: 0.5;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.myself-text {
  font-size: 120%;
  font-family: "Homemade Apple", cursive;
}

.post-container {
  position: relative;
  background-color: white;
  padding: 10px;
  height: 425px;
}

.post-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.1s ease;
  background-color: #fed330;
}

.post-container:hover .post-overlay {
  opacity: 0.8;
}

.my-text {
  /* display: inline-block; */
  color: white;
  background-color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 3px 7px;
  border-radius: 15px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}

.my-text:visited,
.my-text:link {
  background-color: black;
  text-decoration: none;
}
.my-text:hover,
.my-text:active {
  color: white;
  background-color: #fa8231;
  text-decoration: none;
}

a:-webkit-any-link {
  color: white;
  text-decoration: none;
  /* cursor: auto; */
}

.tag-month-year {
  font-size: 10px;
  color: white;
  background-color: #bdc581;
  border-radius: 10px;
  padding: 2px 7px;
}

/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
  .post-container {
    height: 475px;
  }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  .post-container {
    height: 500px;
  }
}

/* Small phones to small tables: from 481px to 767px */
@media only screen and (max-width: 767px) {
  .post-container {
    height: 650px;
  }
}

/* Small phones: from 0 to 480px  */
@media only screen and (max-width: 480px) {
  .post-container {
    height: 500px;
  }
}
