.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/fabrizio-chiagano-YhnODmrg8hY-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  /* padding: 0 30%; */
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 10px;
  transform: translate(-50%, -50%);
}

.hero-title {
  font-weight: 600;
  text-align: center;
}

.hero-version {
  font-size: 100%;
  font-weight: 400;
}

.credit {
  position: absolute;
  left: 2%;
  top: 97%;
  color: #9e9e9e;
  font-size: 10%;
}

.scroll-down {
  position: absolute;
  top: 90%;
  left: 50%;
  letter-spacing: 5px;
  transform: translate(-50%, -50%);
}

.down-arrow {
  color: #fff;
  font-size: 200%;
  padding: 20px 5px;
}

h1 {
  span.text {
    padding: 0;
    padding-right: 4px;
    border-right: 2px solid #747474;
    animation: blink 0.75s infinite;
  }

  .blue {
    color: #4480ff;
  }
  .green {
    color: #4caf50;
  }
  .yellow {
    color: #f4b400;
  }
  .red {
    color: #f44336;
  }
}
