/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #424242;
  background-color: #2c3e50;
  font-family: "Lato", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #f1f1f1;
}

code {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 200%;
  padding-bottom: 30px;
  /* word-break: break-all; */
}

h4 {
  font-size: 100%;
  color: #636e72;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  font-size: 70%;
  color: #636e72;
}
