.nav-bar {
  float: left;
  list-style: none;
  margin-top: 40px;
}

.nav-bar li {
  display: inline-block;
  margin-left: 100px;
  color: #fff;
  font-size: 200%;
  font-family: "Pattaya";
}

/* Small phones: from 0 to 480px  */
@media only screen and (max-width: 480px) {
  .nav-bar li {
    margin-left: 10px;
    font-size: 150%;
  }
}
