/* * {
  box-sizing: border-box;
} */

/* body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
} */

/* Center website */
.center-content {
  max-width: 1000px;
  margin: 100px auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

.row-blog {
  margin: 8px -16px;
}

.row-blog,
.row-blog > .column-blog {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

.column-blog {
  float: left;
  width: 33.33%;
  display: none;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row-blog:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  /* background: rgba(6, 19, 77, 0.8); */
  padding: 10px;
  height: 375px;
}
.content:hover .image {
  opacity: 0.7;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.filter-btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  margin: 2px 0;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.filter-btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.filter-btn.active {
  background-color: #f26506;
  color: white;
}

.photo {
  width: 100%;
}
