.center-content {
  max-width: 1000px;
  margin: 100px auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 8px;
}

.row-blog {
  margin: 8px -16px;
}

.row-blog,
.row-blog > .column-blog {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

.column-blog {
  float: left;
  width: 33.33%;
  display: none;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  height: 390px;
}
.content:hover .image {
  opacity: 0.7;
}

.portfolio-container {
  position: relative;
  background-color: white;
  padding: 10px;
  height: 390px;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.1s ease;
  background-color: #fed330;
}

.portfolio-container:hover .portfolio-overlay {
  opacity: 0.8;
}

.portfolio-thumbnail {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-link {
  /* display: inline-block; */
  color: white;
  background-color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 3px 7px;
  border-radius: 15px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}

.portfolio-link:visited,
.portfolio-link:link {
  background-color: black;
  text-decoration: none;
}
.portfolio-link:hover,
.portfolio-link:active {
  color: white;
  background-color: #fa8231;
  text-decoration: none;
  font-size: 20px;
}

.portfolio-ios {
  left: 35%;
}

.portfolio-android {
  left: 60%;
}

.tag-year {
  font-size: 10px;
  color: white;
  background-color: #bdc581;
  border-radius: 10px;
  padding: 2px 7px;
}

/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
  .center-content {
    /* max-width: 800px; */
    margin: 100px auto;
  }

  .column {
    width: 50%;
  }

  .column-blog {
    width: 50%;
  }

  .portfolio-container {
    height: 470px;
  }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  .center-content {
    /* max-width: 800px; */
    margin: 100px auto;
  }

  .column {
    width: 50%;
  }

  .column-blog {
    width: 50%;
  }
}

/* Small phones to small tables: from 481px to 767px */
@media only screen and (max-width: 767px) {
  .center-content {
    /* max-width: 800px; */
    margin: 100px auto;
  }

  .content {
    height: 600px;
  }

  .column {
    width: 100%;
  }

  .column-blog {
    width: 100%;
  }
}

/* Small phones: from 0 to 480px  */
@media only screen and (max-width: 480px) {
  .center-content {
    /* max-width: 800px; */
    margin: 100px auto;
  }

  .content {
    height: 400px;
  }

  .column {
    width: 100%;
  }

  .column-blog {
    width: 100%;
  }
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row-blog:after {
  content: "";
  display: table;
  clear: both;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.filter-btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  margin: 2px 0;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.filter-btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.filter-btn.active {
  background-color: #f26506;
  color: white;
}

.photo {
  width: 100%;
}
