.service-bg {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/service.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
}

.service-text {
  color: white;
}

.service-vh-center {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

.service-column {
  float: left;
  width: 25%;
  height: 200px;
  padding: 10px 10px;
}

.service-row {
  margin: 0 -5px;
}

.service-row:after {
  content: "";
  display: table;
  clear: both;
}

.service-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  color: white;
  background-color: #000000;
  opacity: 0.5;
}

.service-icon {
  color: #fff;
  font-size: 200%;
}

/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
  .service-column {
    width: 33.33%;
  }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  .service-column {
    width: 50%;
  }
}

/* Small phones to small tables: from 481px to 767px */
@media only screen and (max-width: 767px) {
  .service-bg {
    height: 700px;
  }

  .service-vh-center {
    position: absolute;
    top: 5%;
  }

  .service-column {
    width: 100%;
    padding: 2px 2px;
    height: 130px;
  }
}

/* Small phones: from 0 to 480px  */
@media only screen and (max-width: 480px) {
  .service-bg {
    height: 700px;
  }

  .service-vh-center {
    position: absolute;
    top: 5%;
  }

  .service-column {
    width: 100%;
    padding: 2px 2px;
    height: 130px;
  }
}
